In [11]:
import pandas as pd

In [12]:
# Import data and check the dataset structure
df = pd.read_csv('netflix_titles.csv')

### **Data Cleaning**

**Treat the Nulls - Null Value Assessment**

In [13]:
# Check for missing values
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

**Drop rows with empty values**

In [14]:
# Delete the rows where are empty values
df.dropna(subset=['director', 'cast', 'country', 'date_added', 'rating', 'duration'], inplace=True)

**Split the columns**

In [15]:
# Separate the cast column into actor_1, actor_2, and actor_3
df['actor_1'] = df['cast'].str.split(', ').str[0]
df['actor_2'] = df['cast'].str.split(', ').str[1]
df['actor_3'] = df['cast'].str.split(', ').str[2]

# Separate the date_added column into month_added and year_added
df['month_added']=df['date_added'].str.split(' ').str[0]
df['year_added']=df['date_added'].str.split(', ').str[1]

**Populate the missing rows**

In [16]:
# Replace Null values with the word 'Empty'
df.fillna('Empty', inplace=True)

**Drop unneeded columns - Column Pruning**

In [17]:
# Drop columns that are unneeded or do not provide relevant information
df.drop(columns=['show_id', 'cast', 'date_added', 'description'], inplace=True)

### **Issues to Address**

**Data Type Conversion**

In [18]:
# Check the data types of the columns. All of them are strings except for release_year
df.dtypes

# Convert the column to str.
# df['release_year'] = df['release_year'].astype(str)

type            object
title           object
director        object
country         object
release_year     int64
rating          object
duration        object
listed_in       object
actor_1         object
actor_2         object
actor_3         object
month_added     object
year_added      object
dtype: object

**Data Transformation**

In [19]:
# Separate the listed_in column into the first listed and added to a new colummn
df['first_listed_in'] = df['listed_in'].str.split(', ').str[0]
df.drop(columns='listed_in')

,type,title,director,country,release_year,rating,duration,actor_1,actor_2,actor_3,month_added,year_added,first_listed_in
7,Movie,Sankofa,Haile Gerima,"United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min,Kofi Ghanaba,Oyafunmike Ogunlano,Alexandra Duah,September,2021,Dramas
8,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,2021,TV-14,9 Seasons,Mel Giedroyc,Sue Perkins,Mary Berry,September,2021,British TV Shows
9,Movie,The Starling,Theodore Melfi,United States,2021,PG-13,104 min,Melissa McCarthy,Chris O'Dowd,Kevin Kline,September,2021,Comedies
12,Movie,Je Suis Karl,Christian Schwochow,"Germany, Czech Republic",2021,TV-MA,127 min,Luna Wedler,Jannis Niewöhner,Milan Peschel,September,2021,Dramas
24,Movie,Jeans,S. Shankar,India,1998,TV-14,166 min,Prashanth,Aishwarya Rai Bachchan,Sri Lakshmi,September,2021,Comedies
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8801,Movie,Zinzana,Majid Al Ansari,"United Arab Emirates, Jordan",2015,TV-MA,96 min,Ali Suliman,Saleh Bakri,Yasa,March,2016,Dramas
8802,Movie,Zodiac,David Fincher,United States,2007,R,158 min,Mark Ruffalo,Jake Gyllenhaal,Robert Downey Jr.,November,2019,Cult Movies
8804,Movie,Zombieland,Ruben Fleischer,United States,2009,R,88 min,Jesse Eisenberg,Woody Harrelson,Emma Stone,November,2019,Comedies
8805,Movie,Zoom,Peter Hewitt,United States,2006,PG,88 min,Tim Allen,Courteney Cox,Chevy Chase,January,2020,Children & Family Movies
8806,Movie,Zubaan,Mozez Singh,India,2015,TV-14,111 min,Vicky Kaushal,Sarah-Jane Dias,Raaghav Chanana,March,2019,Dramas

**Data Export**

In [20]:
df.to_csv('netflix_titles_cleaned.csv', index=False)